body {

  background-image: url(image2.jpg) ;
  background-size: cover;
  background-position:center;
  height:1080px;
  margin: auto;
  padding: 100px ;
}

.mat-elevation-z8 {
  font-family: Arial, Helvetica, "Times New Roman";
  text-align: center;
  color: white;
  margin: auto;
  width: 90%;
  border: black;
  alignment: center;
}

th {
  background-color: black;
}

th, td {
  padding: 15px;
  text-align: center;
}

td {
  background-color: grey;
}


.mat-toolbar{
  top: 8px;
  left:10px;
  height: 64px;
  position: absolute;
  z-index: 100;
  width: 99%;
  background-color: darkgrey;
  margin: auto;
}

.actbtnn:hover {
  background-color: #ffda1e;
  color: black;
}




.actbtnn {
  padding: 10px 40px 10px 40px;

  width: max-content;
  alignment: center;
  margin-left: 1580px;

  //  padding: 5px;
  color: white;
  background-color: black;
}
.actbtn:hover {
  background-color: #ffda1e;
  color: black;
}

.actbtn {
  padding: 10px 40px 10px 40px;

  width: max-content;
  alignment: center;
  margin-left: -5px;

  //  padding: 5px;
  color: white;
  background-color: black;
}
