<div class="container">
  <!-- No data message -->
  <p *ngIf="Clientele.length <= 0" class="no-data text-center">There is no client added yet!</p>

  <!-- Vehicles list -->
  <table class="table table-bordered" *ngIf="Clientele.length > 0">
    <thead class="table-success">
    <tr>
      <th scope="col">Client ID</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
      <th scope="col">Phone No</th>
      <th scope="col center">Update</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let clientele of Clientele; let i = index">
      <th scope="row">{{clientele._id}}</th>
      <td>{{clientele.name}}</td>
      <td>{{clientele.email}}</td>
      <td>{{clientele.address}}</td>
      <td>{{clientele.phoneNumber}}</td>
      <td class="text-center edit-block">
          <span class="edit" [routerLink]="['/edit-clientele/', clientele._id]">
            <button type="button" class="btn btn-success btn-sm">Edit</button>
          </span>
        <span class="delete" (click)="removeClientele(clientele, i)">
            <button type="button" class="btn btn-danger btn-sm">Delete</button>
          </span>
      </td>
    </tr>
    </tbody>
  </table>
</div>
