mat-panel-title {
  font-family: Tahoma, Geneva, sans-serif;
  text-align: left;
  color: white;
}

body {

  background-image: url(kep.jpg) ;
  background-size: cover;
  background-position:center;
  height:720px;
  margin: auto;



  padding: 100px ;


}
#everything{
  margin: auto;
  width: 100%;
  aligment: left;
}

.form {
  text-align: center;





}

input {
  margin: 5px;
  padding: 10px;
  border:gray;
  border-radius: 4px;
}

.input {
  margin: 5px;
  padding: 10px;
  color:yellow;
}

.btn:hover {
  background-color: dodgerblue;
  color: black;
}

.btn {
  text-align: center;
  width: max-content;
  alignment: bottom;
  margin: 5px;
  padding: 10px 40px 10px 40px;
  color: white;
  background-color: green;
}


::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: green !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: green !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: green !important;;
}

::ng-deep input.mat-input-element {
  color: green;
}
:host::ng-deep .mat-select-placeholder {
  color: red;
}

::-webkit-input-placeholder { /* Chrome */
  color: red;
}

.mat-focused .placeholder {
  color: #00D318;
}

mat-card{
  margin: 0 auto;
  width: calc(100% - 1400px);
  text-align: center;
}


