

<mat-card class="card">
  <h2 class="title">Registration system</h2>
  <h2 class="logintitle">Login</h2>
  <mat-card-content>
  <form class="background" [formGroup]= "loginForm" (ngSubmit)="onSubmit()" class="form" >

    <mat-form-field >
      <input matInput type="text" placeholder="Username" formControlName="userName">
    </mat-form-field>
    <br>

    <mat-form-field >
      <input matInput  placeholder="Password" type="password" formControlName="password">
    </mat-form-field>
    <br>
    <div id="wrongDatas"></div>

    <button mat-raised-button type="submit" [disabled]="!loginForm.valid"  class="submit" >Sign in</button>
    
    


  </form>
</mat-card-content>
</mat-card>
<mat-card class="card">
  <mat-card-content>
    <h3 class="title">Don't have an account yet?</h3>
    <button mat-raised-button routerLinkActive="active" class="reg" routerLink="/registration">Sign up</button>
  </mat-card-content>
</mat-card>

