<app-first-component></app-first-component>
<br />
<app-second-component></app-second-component>
<br />
<app-third></app-third>
<br />
<app-fourth></app-fourth>
<br />
<app-fifth></app-fifth>
<br />
<app-sixth></app-sixth>
<br />
<app-seventh></app-seventh>
<br />
<app-eight></app-eight>
<br />
<app-ninth></app-ninth>
<br />
<app-tenth></app-tenth>
<br />
<nav>
    <a routerLink="/home">Home</a>
    <a routerLink="/contactus">Contact Us </a>
</nav>
<router-outlet></router-outlet>
<app-eleventh></app-eleventh>
<br />
<ul>
    <li *ngFor="let item of persondata; let i = index">
        {{item.name}}
    </li>
</ul>
<app-twelfth></app-twelfth>
<app-fourteenth></app-fourteenth>
<app-fifteenth></app-fifteenth>