<div class="row justify-content-center">
  <div class="col-md-4 register-employee">
    <!-- form card register -->
    <div class="card-body">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="inputName">Username</label>
          <input class="form-control" type="text" formControlName="username">
          <!-- error -->
          <div class="invalid-feedback" *ngIf="myForm.username.errors?.required">
            Username is required.
          </div>
        </div>

        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input class="form-control" type="password" formControlName="password">
          <!-- error -->
        </div>

        <div class="form-group">
          <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="!loginForm.valid">Login</button>
        </div>
        <span class="edit" [routerLink]="['/user-register/']">
            <button type="button" class="btn btn-success btn-sm">Register user</button>
          </span>
      </form>

    </div>
  </div>
  <ng-container *ngIf="loginInvalid">
    <div>
      Username or password incorrect!
    </div>
  </ng-container>
</div>
