<div style="text-align:center">
    <h1> Welcome to {{title}}. </h1>
</div>

<div> Months :
    <select (change)="changemonths($event)" name="month">
        <option *ngFor="let i of months">{{i}}</option>
    </select>
</div>
<br />

<div>
    <span *ngIf="isavailable; else condition2">
        Condition is valid.
    </span>
    <span appFirst>Welcome to {{title}}.</span>
    <div #condition2> DIV</div>
    <ng-template #condition1>Condition is valid from template </ng-template>
    <ng-template #condition2>Condition is invalid from template</ng-template>
</div>
<button (click)="myClickFunction($event)">Click Me</button>