<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Vehicle Renting</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/employees-list">View Employees</a>
  </nav>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/clientele-list">View Clientele</a>
  </nav>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/vehicle-list">View Vehicles</a>
  </nav>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/rental-list">View Rentals</a>
  </nav>
  <nav class="my-2 my-md-0 mr-md-3"><a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/create-employee">Add Employee</a></nav>
  <nav class="my-2 my-md-0 mr-md-3"><a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/create-clientele">Add Clientele</a></nav>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/create-vehicle">Add Vehicle</a>
  </nav>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/create-rental">Add Rental</a>
  </nav>
</div>

<router-outlet></router-outlet>
