<div class="container">
<div class="form-group mb-4">
  <input class="form-control"  type="text"
         [(ngModel)]="searchText" placeholder="Search for dvd">
</div>
<table class="table table-hover" *ngIf="(ModdedConnectionForDVD  |
 filter: searchText).length >0; else noResults">
  <thead>
  <tr>
    <td>#</td>
    <td>First Name</td>
    <td>Last Name</td>
    <td>ID Number</td>
    <td>DVD Title</td>
    <td>Date of Borrow</td>
    <td>Delay</td>
  </tr>
  </thead>
  <tbody>
  <ng-container>
    <ng-container *ngFor="let connection of Connections ">
      <tr *ngFor="let dvd of connection.dvd | filter: searchText;  let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{ connection.customer.first_name }}</td>
        <td>{{ connection.customer.last_name }}</td>
        <td>{{ connection.customer.ID_Number }}</td>
        <td>{{ dvd.title }}</td>
        <td>{{ dvd.dateOfBorrow | date:'yyyy-MM-dd' }}</td>
        <td>{{ convertDate(dvd.dateOfBorrow)}}</td>
      </tr>
    </ng-container>
  </ng-container>
  </tbody>
</table>
<ng-template #noResults>
  <p>No results found for "{{searchText}}".</p>
</ng-template>
</div>
