<div class="container">
<div class="form-group mb-4">
  <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Search">
</div>
<table class="table table-hover" *ngIf="(DVDs | filter: searchText).length >0; else noResults">
  <thead>
  <tr>
    <td>#</td>
    <td>Title</td>
    <td>Date of get</td>
    <td>Number</td>
    <td>State</td>
    <td colspan="2">Action</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let DVD of DVDs | filter: searchText; let i = index">
    <th scope="row">{{i + 1}}</th>
    <td>{{ DVD.title }}</td>
    <td>{{ DVD.dateOfGet| date:'yyyy-MM-dd'  }}</td>
    <td>{{ DVD._id }}</td>
    <td>{{ DVD.state }}</td>
    <ng-container *ngIf="DVD.state === 'free'">
    <td><a (click) = "deleteDVD(DVD._id)"   class="btn btn-danger" style="color:white">Waste it</a></td>
    </ng-container>
  </tr>
  </tbody>
</table>
<ng-template #noResults>
  <p>No results found for "{{searchText}}".</p>
</ng-template>
</div>
