.mat-title {
  color: gray;
}

body {
  background-color: antiquewhite;
  text-align: center;
  padding: 15px;
}

.form {
  alignment: center;
}

input {
  margin: 5px;
  padding: 10px;
}

.input {
  margin: 5px;
  padding: 10px;
}

.actbtn:hover {
  background-color: #ddd;
  color: black;
}


.actbtn {
  padding: 10px 40px 10px 40px;
 // padding-left: 25px;
 // padding-right: 25px;
  width: max-content;
  alignment: center;
  margin: 5px;
//  padding: 5px;
  color: whitesmoke;
  background-color: dodgerblue;
}


.btn:hover {
  background-color: #ddd;
  color: black;
}

.btn {
  width: max-content;
  alignment: center;
  margin: 5px;
  padding: 10px 40px 10px 40px;
  color: whitesmoke;
  background-color: dodgerblue;
}
