<h1>Car list</h1>
<!-- <table mat-table [dataSource]="cars"></table> -->
<mat-accordion multi="true" *ngIf="cars.length > 0">
  <mat-expansion-panel *ngFor="let car of cars">
    <mat-expansion-panel-header>
      <mat-panel-title>{{car.Name}}</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item><b>Consumption: </b> {{car.Consumption}}l/100km</mat-list-item>
      <mat-list-item><b>Color: </b> {{car.Color}}</mat-list-item>
      <mat-list-item><b>Manufacturer: </b> {{car.Manufacturer}}</mat-list-item>
      <mat-list-item><b>Available: </b> {{car.Available}}</mat-list-item>
      <mat-list-item><b>Year: </b> {{car.Year}}</mat-list-item>
      <mat-list-item><b>Horsepower: </b> {{car.Horsepower}}</mat-list-item>
    </mat-list>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/car/edit/', car.id]">Edit</a>
      <button mat-button color="warn" (click)="onDelete(car.id)">Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
